.navbar {
    padding: 1rem;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1rem;
    margin-right: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}
